* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 10px;
    background-color: #ffffff;
}

header h1 {
    font-size: 108px;
    margin: 0px;
}

header h2 {
    font-size: 54px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 48px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 60px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 48px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #888;
    margin-top: 30px;
}

.info-detalhes>p {
	font-size: 24px;
}

.placar-jogo {
	font-size: 3rem;
}

.navegacao {
	margin-top: 30px;
}

.button-navegacao {
	font-size: 3rem;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: center;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #0080ff
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

#table-classificacao {
	font-size: 2rem;
}

img:focus, img:active{
	border: 5px solid yellow;
}

#time{
    position: relative;
    animation-name: leftRight;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes leftRight {
    0%   {left:0px;}
    100%  {left:200px;}
}

div {
    background: blue;
    animation-name: opacity;
    animation-duration: 4s;
	width: 500px;
}

@keyframes opacity {
    0% {opacity: 0;}
	100% {opacity: 1;}
}