.info-detalhes>p {
	font-size: 24px;
}

.placar-jogo {
	font-size: 3rem;
}

.navegacao {
	margin-top: 30px;
}

.button-navegacao {
	font-size: 3rem;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: center;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #0080ff
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

#table-classificacao {
	font-size: 2rem;
}

img:focus, img:active{
	border: 5px solid yellow;
}